@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-icon {
    @apply w-6 h-6 cursor-pointer
  }
  .nav-icon {
    @apply w-6 h-6 cursor-pointer
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
